.landing {
    padding: 75px 70px 85px;
    background-color: #073042;
  }
  .landing__container {
    display: flex;
    justify-content: space-between;
  }
  .landing__image {
    width: 304px;
    height: 310px;
    background: url(../../images/landing-logo.svg) no-repeat center / cover;
  }
  .landing__title {
    margin: 0;
    padding: 0;
    max-width: 640px;
    font-size: 50px;
    line-height: 58px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -0.3px;
  }
  .landing__below-info {
    margin: 36px 0 153px;
    padding: 0;
    max-width: 310px;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
  }
  .landing__more {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    font-weight: 500;
  }
  
  @media screen and (max-width: 1100px) {
    .landing__title {
      max-width: 520px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .landing {
      text-align: center;
      background-position: center 140px;
      padding: 140px 50px 86px;
    }
    .landing__container {
      flex-direction: column;
      align-items: center;
    }
    .landing__info {
      margin: 43px 0 98px;
      text-align: center;
      order: 10;
    }
    .landing__title {
      max-width: 680px;
      font-size: 40px;
      line-height: 50px;
      font-weight: 400;
    }
    .landing__below-info {
      margin: 22px auto 0;
      max-width: 260px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .landing {
      padding: 70px 10px 40px;
    }
    .landing__image {
      width: 206px;
      height: 210px;
    }
    .landing__title {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -1px;
    }
    .landing__info {
      margin: 40px 0 89px;
      order: 10;
    }
  }