.profile-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 32px;
    padding: 0 3px 0 11px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0 3px 14px;
  }
  .profile-btn_dark {
    background-color: #2be080;
  }
  .profile-btn_light {
    background-color: #fff;
  }
  .profile-btn__text {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 12px;
    font-weight: 500;
    color: #000;
  }
  .profile-btn__icon {
    display: block;
    padding: 7.5px;
    width: 10.5px;
    height: 10.5px;
    background-color: #f9f9f9;
    border-radius: 50px;
  }