.search-panel {
    position: relative;
    padding: 0 0 11px;
    border-bottom: 1px solid #e8e8e8;
  }
  .search-panel:hover {
    border-bottom: 1px solid #3456f3;
  }
  .search-panel__form {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 0;
  }
  .search-panel__input {
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    border: none;
    outline: none;
  }
  .search-panel__search-btn {
    cursor: pointer;
    padding: 8px 13px;
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    color: #eee;
    background-color: #3456f3;
    border: none;
    outline: none;
    border-radius: 25px;
  }
  .search-panel__search-btn:disabled {
    color: #c2c2c2;
    background-color: #f8f8f8;
    pointer-events: none;
  }
  .search-movie-input-error {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    transition: opacity 0.3s;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ff0000;
  }
  .search-movie-input-error_active {
    opacity: 1;
  }
  
  @media screen and (max-width: 540px) {
    .search-panel {
      padding-bottom: 9px;
      margin: 0 4px;
    }
    .search-panel__form {
      gap: 20px;
    }
    .search-panel__input {
      font-size: 18px;
      line-height: 22px;
    }
    .search-movie-input-error {
      font-size: 11px;
      line-height: 14px;
    }
  }