.popup {
    display: flex;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .popup__container {
    position: relative;
  }
  .popup__container_tooltip {
    width: 430px;
    padding: 60px 0;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  }
  .popup__title {
    padding: 34px 0 0;
    margin: 0 36px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
  }
  .popup__image-tooltip {
    width: 120px;
    height: 120px;
  }
  .popup_opened {
    visibility: visible;
    opacity: 1;
  }
  .popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    width: 32px;
    height: 32px;
    background: url(../../images/close_icon.svg) no-repeat center / cover;
    cursor: pointer;
    transition: opacity 0.1s;
  }
  .popup__close:hover {
    opacity: 0.6;
  }
  @media screen and (max-width: 767px) {
    .popup__close {
      right: 0;
      width: 25px;
      height: 25px;
    }
  }
  @media screen and (max-width: 424px) {
    .popup__close {
      top: -36px;
      width: 20px;
      height: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .popup__container_type_tooltip {
      width: 380px;
    }
  }
  @media screen and (max-width: 424px) {
    .popup__container_tooltip {
      width: 282px;
      padding: 40px 0;
    }
  }
  @media screen and (max-width: 424px) {
    .popup__title {
      padding-top: 26px;
      margin: 0 22px;
      font-size: 18px;
      line-height: 22px;
    }
  }